// app global css in SCSS form
// breakpoint variable, from https://quasar.dev/style/breakpoints
// Except the xs one because I think 600px is too small

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

$xs-breakpoint: 718px;
$sm-breakpoint: 1024px;
$md-breakpoint: 1439px;
$lg-breakpoint: 1920px;

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: $xs-breakpoint) {
    .container,
    .container-sm {
        max-width: 540px;
    }
}

@media (min-width: $sm-breakpoint) {
    .container,
    .container-sm,
    .container-md {
        max-width: 920px;
    }
}

@media (min-width: $md-breakpoint) {
    .container,
    .container-sm,
    .container-md,
    .container-lg {
        max-width: 1140px;
    }
}

@media (min-width: $lg-breakpoint) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1440px;
    }
}

.col-lg-6 {
    padding: 0 15px;
}

.col-lg-4 {
    padding: 0 15px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    line-height: 62px;
}

h4 {
    font-size: 24px;
    font-weight: 900;
    line-height: 34px;
}

h6 {
    font-size: 18px;
    font-weight: 900;
    line-height: 27px;
}

p {
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
}

.q-item {
    min-height: auto;
    align-items: center;
}
