.hero-banner-wrapper {
    background-color: $primary;
    color: $white;
    padding: 70px 0;

    .text-wrap {
        border-top: 1px solid $white;
        h6 {
            margin-bottom: 15px;
            margin-top: 10px;
        }
    }

    .mobileOnly {
        margin-top: 30px;
        display: none;

        .flex {
            gap: 20px;
            align-items: center;

            svg {
                position: relative;
                top: 5px;
            }
        }

        &__btn {
            color: #fbff23;
            font-size: 16px;
            font-weight: 900;
            line-height: 24px;
            display: block;
            margin-top: 16px;
        }
    }
}

.secondSlider {
    .carousel__item {
        height: 80px;
        width: 100%;
        background-color: #73e6ff73;
        color: $white;
        font-size: 20px;
        border-radius: 12px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .carousel__slide {
        padding: 5px;
    }

    .carousel__prev,
    .carousel__next {
        display: none;
    }
}

.firstSlider {
    .badgeImage {
        margin-left: auto;
        margin-right: auto;
        display: block;
        position: relative;
        top: 40px;
    }

    .carousel__prev {
        left: -40px;
    }

    .carousel__next {
        right: -40px;
    }

    .carousel__slide {
        padding: 5px;
    }

    .carousel__viewport {
        perspective: 2000px;
    }

    .carousel__track {
        transform-style: preserve-3d;
    }

    .carousel__slide--sliding {
        transition: 0.5s;
    }

    .carousel__slide {
        opacity: 0.9;
        transform: rotateY(0deg) scale(0.9);
    }

    .carousel__slide--active ~ .carousel__slide {
        transform: rotateY(0deg) scale(0.9);
        z-index: -1;
    }

    .carousel__slide--prev {
        opacity: 1;
        transform: rotateY(0deg) scale(0.95) translateX(80px);
    }

    .carousel__slide--next {
        opacity: 1;
        transform: rotateY(0deg) scale(0.95) translateX(-80px) !important;
    }

    .carousel__icon path {
        fill: $white;
    }

    .carousel__icon path {
        fill: $white;
    }

    .carousel__slide--active {
        opacity: 1;
        transform: rotateY(0) scale(1.1);
    }

    .carousel__slide .carousel__item img {
        border-radius: 6px;
    }

    .carousel {
        height: 600px;
        display: flex;
        align-items: center;
    }

    .carousel__viewport {
        height: 600px;
    }

    .carousel__track {
        height: 600px;
    }
}

@media screen and (max-width: 991px) {
    .firstSlider .carousel__slide .carousel__item img {
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .firstSlider .carousel {
        height: auto;
        display: flex;
        align-items: center;
    }

    .firstSlider .carousel__prev {
        left: 0;
    }

    .firstSlider .carousel__next {
        right: 0;
    }

    .firstSlider .carousel__viewport {
        height: auto;
    }

    .firstSlider .carousel__track {
        height: auto;
    }

    h4 {
        margin-bottom: 50px;
    }

    h6 {
        display: none;
    }

    .text-wrap {
        display: none;
    }

    .firstSlider .badgeImage {
        top: -10px;
    }

    .secondSlider {
        display: none;
    }

    .hero-banner-wrapper .mobileOnly {
        margin-top: 30px;
        display: block;
    }
}
